<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>選歌系統</title>

<script>
	function check(){
		var user,passw;
		user=document.getElementById("user").value;
		passw=document.getElementById("pwd").value;
		if(user=="" || passw ==""){
	  		alert("Account or Password Can not be blank !");
		}else{
			document.getElementById("login").submit();
		}
 	}
	function signin(){
		var user,passw;
		user=document.getElementById("user").value;
		passw=document.getElementById("pwd").value;
		if(user=="" || passw ==""){
	  		alert("Account or Password Can not be blank !");
		}else{
			document.getElementById("signin").submit();
		}
 	}
	function Inputsong(){

 	}
	function Selectsong(){

 	}

  </script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>



<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">PickSong</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">

	      </li>

	    </ul>
	    <form class="form-inline my-2 my-lg-0">
				<button type="button" class="btn btn-success mr-3" data-toggle="modal" data-target="#showresult">
					全部結果
				</button>
				<button type="button" class="btn btn-success mr-3" data-toggle="modal" data-target="#searchsong">
					尋找歌曲
				</button>

				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginmodel">
  				登入
				</button>
				<!-- Modal -->
				<div class="modal fade" id="searchsong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" >尋找歌曲</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
								<form method=get action=selectsong.php id="selectsong"> <! 搜尋歌曲>
								  <div class="form-group">
								    <label for="songname">歌曲名稱：</label>
								    <input type="text" class="form-control" id="songname"  placeholder="請輸入歌曲名">
								  </div>
									<div class="form-group">
										<label for="band">歌手/樂團/教會：</label>
										<input type="text" class="form-control" id="band"  placeholder="請輸入歌手/樂團/教會">
									</div>
									<div class="form-group">
										<label for="theme">主題性質：</label>
										<input type="text" class="form-control" id="theme" placeholder="請輸入主題性質">
									</div>
									<div class="form-group">
										<label for="key">歌曲Key：</label>
										<input type="text" class="form-control" id="key" placeholder="請輸入歌曲Key">
									</div>
									<div class="form-group">
										<label for="highest">歌曲最高音：</label>
										<input type="text" class="form-control" id="highest" placeholder="請輸入歌曲最高音">
									</div>
									<div class="form-group">
										<label for="bass">歌曲最低音：</label>
										<input type="text" class="form-control" id="bass" placeholder="請輸入歌曲最低音">
									</div>

									<input class="btn btn-primary" type=submit value=搜尋 onclick="Selectsong()">
									<input class="btn btn-danger" type=reset value="重設" >
								</form>
				      </div>
				      <div class="modal-footer">


				      </div>
				    </div>
				  </div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="showresult" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" >全部結果</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
								<div>
								歌曲
								歌手/樂團/教會
								歌曲Key
								</div>
								{% for song in result %}
							    <div>
							    {{ song.song }}
							    {{ song.owner }}
									{{ song.key_of_song }}
							    </div>
								{% endfor %}
				      </div>
				      <div class="modal-footer">
				      </div>
				    </div>
				  </div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="loginmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">會員登入</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form  method=post action=Login.php id="login" > <! 登入>
									<div class="form-group">
										<label for="user">帳號 :</label>
										<input type="text" class="form-control" id="user"  placeholder="請輸入帳號">
									</div>
									<div class="form-group">
										<label for="pwd">密碼 :</label>
										<input type="password" class="form-control" id="pwd"  placeholder="請輸入密碼">
									</div>

									<input class="btn btn-primary" type=button value=送出 onclick="check()">
									<input class="btn btn-danger" type=reset  value="重設" >
									<input class="btn btn-warning" type=button value="註冊" id="signin" onClick="signin()" >

								</form>
							</div>
							<div class="modal-footer">


							</div>
						</div>
					</div>
				</div>
	    </form>
	  </div>
	</nav>

<div class="container">

	<h5 class="mt-5">放入歌曲</h5>  <! 放歌曲>
	<form class="mt-3" method=post action="inputsong/" id="inputsong">{% csrf_token %}
		<div class="form-group">
			<label for="songname">歌曲名稱</label>
			<input type="text" class="form-control" id="songname" placeholder="輸入歌曲名" required>
		</div>
		<div class="form-group">
			<label for="songname">歌手/樂團/教會</label>
			<input type="text" class="form-control" id="band" placeholder="輸入歌手/樂團/教會" required>
		</div>
		<!-- <div class="form-group">
			<label for="theme">主題性質</label>
			<input type="text" class="form-control" id="theme" placeholder="輸入主題性質">
		</div> -->
		<div class="form-group">
			<label for="key">歌曲Key</label>
			<input type="text" class="form-control" id="key" placeholder="輸入歌曲Key">
		</div>
		<div class="form-group">
			<label for="highest">歌曲最高音</label>
			<input type="text" class="form-control" id="highest" placeholder="輸入歌曲最高音">
		</div>
		<div class="form-group">
			<label for="bass">歌曲最低音</label>
			<input type="text" class="form-control" id="lowest" placeholder="輸入歌曲最低音<">
		</div>

		<input class="btn btn-primary" type=submit value=送出>
		<input class="btn btn-danger" type=reset value="重設" >

	</form>


</div>







</body>
</html>
